<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-37">
        Login
      </span>
<br>
      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
        <input class="input100" type="email" name="username" placeholder="E-mail"required>
        <span class="focus-input100"></span>
      </div>
    <br>
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input class="input100" type="password" name="pass" placeholder="Mot de passe">
        <span class="focus-input100"></span>
      </div>
<br>
      <div class="container-login100-form-btn">
        <button mat-button class="login100-form-btn" type="submit">
          Connecter
        </button>
      </div>

      <div>
        <button color="primary" mat-button routerLink="/register" routerLinkActive="mat-accent">
          Inscription
        </button>
      </div>
      <ul>

      </ul>
    </form>


  </div>
</div>
